<div class="calendar-widget">
  <h3 class="widget-title">Calendar</h3>
  <div class="calendar-grid">
    <div *ngFor="let week of calendarGrid" class="calendar-row">
      <ng-container *ngFor="let day of week">

        <span *ngIf="day && (day !== 'SU' && day !== 'MO' && day !== 'TU')"
              class="calendar-day"
              [class.today]="day === currentDay">
          {{ day | number:'2.0' }}
        </span>

        <span *ngIf="day && (day === 'SU' || day === 'MO' || day === 'TU' || day === 'WE' || day === 'TH' || day === 'FR' || day === 'SA')"
              class="calendar-day">
          {{ day }}
        </span>

        <span *ngIf="!day" class="calendar-day empty"></span>

      </ng-container>
    </div>
  </div>
  <div class="calendar-footer">{{ monthInfo }}</div>
</div>
