<div class="calendar-widget">

  <div class="days-row past-days">
    <div *ngFor="let day of pastDays" class="small-day-container">
      <span class="day-label">{{ day.dayName }}</span>
      <span class="small-day">{{ day.date | number:'2.0' }}</span>
    </div>
  </div>

  <div class="current-date-wrapper">
    <div class="current-day-name">{{ currentDayName }}</div>
    <div class="current-number">{{ currentDay | number:'2.0' }}</div>
    <div class="current-month-year">{{ currentMonthYear }}</div>
  </div>

  <div class="days-row future-days">
    <div *ngFor="let day of futureDays" class="small-day-container">
      <span class="small-day">{{ day.date | number:'2.0' }}</span>
      <span class="day-label">{{ day.dayName }}</span>
    </div>
  </div>

</div>
