<div class="weather-widget">

  <div class="weather-horizontal" *ngIf="error || !weather">
    <div class="weather-left">
      <lucide-icon [img]="Icons.CloudFog" size="42" strokeWidth="1.5"></lucide-icon>
    </div>
    <div class="weather-center">
      <div class="weather-temp">--°</div>
      <div class="weather-desc">SYS_OFFLINE</div>
    </div>
    <div class="weather-right">
      <div class="weather-time">{{ time }}</div>
      <div class="weather-city">UNKNOWN</div>
    </div>
  </div>

  <div class="weather-horizontal" *ngIf="!error && weather">
    <div class="weather-left">
      <lucide-icon [img]="currentIcon" size="42" strokeWidth="1.5"></lucide-icon>
    </div>
    <div class="weather-center">
      <div class="weather-temp">{{ weather.temperature | number:'1.0-0' }}°</div>
      <div class="weather-desc">{{ description | uppercase }}</div>
    </div>
    <div class="weather-right">
      <div class="weather-time">{{ time }}</div>
      <div class="weather-city">{{ city | uppercase }}</div>
    </div>
  </div>

</div>
